
@{
    ViewBag.Title = "Index";
}

@*/@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))*@


@*{*@

<form method="post" action="Upload" enctype="multipart/form-data" onchange="validate()">
    <table>
        <tr>
            <td>
                File:
            </td>
            <td><input type="file" name="UploadFile" class="form-control" id="myfile" /></td>
        </tr>
        <tr><td colspan="2"><input type="submit" name="Submit" id="submit" value="Import"  disabled="true"/></td></tr>
    </table>

</form>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>S:ON</th>
                        <th>Name</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Data)
                    {
                        <tr>
                            <td>@item.User_Id</td>
                            <td>@item.User_name</td>
                            <td>@item.User_Age</td>
                        </tr>

                    }
                </tbody>
            </table>
            <form action="Export" method="post">
                <input type="submit" value="Export" class="btn btn-secondary" />

            </form>

        </div>
    </div>
</div>



@*}*@
<script>
        function validate() {
            var submit = document.getElementById("submit");
            var file = document.getElementById("myfile").value === "" ? false : true;

            var filled = file;
            filled? submit.disabled = false : submit.disabled = true;

        }

    </script>

